<ion-modal-view class="about">
	<ion-header-bar>
		<h1 class="title">PIXQ - The Quick Image App!</h1>
	</ion-header-bar>
	<ion-content>
		<p>
			PIXQ is the easiest way to view, favorite and share images on your phone, just swipe left to skip and right to fav a picture. You can also share all your favorite pix to your preferred social media sites.
		</p>

		<p>
			PIXQ agregates images from different sources like: imgur.com (coming soon: 500px.com and DeviantArt.com).
		</p>

		<h2>How to use</h2>
		<ul>
			<li>Swipe images left or right to move through the queue</li>
			<li>Swipe images you don't like left</li>
			<li>Swipe images you want to add to your favourites to the right</li>
			<li>You can also use the X or checkmark buttons to skip and add to your favourites</li>
			<li>Press the middle share button to share pictures you like with your friends</li>
			<li>Click the 'i' icon in the top right corner for more information on a picture</li>
			<li>By default, you are shown the newest images in PIXQ.  Use the tabs at the top to switch between new images, hot images, or your favourite images</li>
			<li>Hot images are determined by the PIXQ community's favourites</li>
			<li>Double tapping a picture zooms into it, while locking swipe functionality</li>
			<li>Pinch to zoom further while the picture is locked</li>
			<li>Double tap again to unlock the picture</li>
			<li>If you see a refresh button, PIXQ wasn't able to connect to the server. Press it to try again</li>		
		</ul><br>
		<p style="text-align:center;">
			PIXQ was developed by:<br> <a class="company" ng-href="http://throwawaygames.ca" style="padding:20px 0; display:inline-block;">Throw Away Games Inc</a>.
		</p>
		<p style="text-align:center;">
			PIXQ is copyright <a class="company" ng-href="http://throwawaygames.ca">Throw Away Games Inc</a> 2015.  All images are copyright their respective owners.
		</p>		
	</ion-content>
</ion-modal-view>