<ion-content scroll="false"  class="{{viewName}}">
	<div class="button button-clear button-icon ion-ios-information" on-tap="toggleInfo()"></div>
	<td-cards>
		<button class="button button-dark icon ion-refresh new" on-tap="refresh()"></button>
		<td-card ng-repeat="card in cards track by $index" on-transition-left="cardSwipedLeft($index)" 
		on-transition-right="cardSwipedRight($index)" on-swipe="cardSwiped()" on-double-tap="toggleZoom($index)" style="z-index:{{::card.startZ}}">
			<ion-scroll zooming="true"  delegate-handle="zoom-pane" class="cardImage zoom-pane" min-zoom="1" has-bouncing="false"
			 scrollbar-x="false" scrollbar-y="false" direction="xy">   
				<img ng-src="{{card.image}}">
			</ion-scroll>	
			
		</td-card>	
	
	</td-cards>

	<ion-pane class="imageInfo">
	  <div class="item">{{imageInfo.title}}</div>
	  <div class="item">{{imageInfo.description}}</div>
	  <div class="item"><a class='imgSource' ng-href="{{imageInfo.link}}">{{imageInfo.link}}</a></div>
	</ion-pane>
	<ion-footer-bar class="bar-clear">
		<div class="button-bar">
			<div class="button button-clear button-icon ion-close bottom-button" on-tap="pressNext()"></div>
			<div class="button button-clear button-icon ion-android-share-alt bottom-button" on-tap="pressShare()"></div>
			<div class="button button-clear button-icon ion-checkmark bottom-button" on-release="pressFav()"></div>
		</div>
	</ion-footer-bar>	
</ion-content>



<!--<ion-content scroll="false">
	<div class="button button-clear button-icon ion-ios-information" on-tap="toggleInfo()"></div>
	<td-cards>
		<td-card ng-repeat="card in cards.hot" on-destroy="cardDestroyed($index)" on-swipe="cardSwiped($index)" 
		on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe(amt)"
		on-transition-right="cardSwipedLeft($index)">
			<ion-scroll zooming="true"  delegate-handle="zoom-pane" class="cardImage zoom-pane" min-zoom="1" has-bouncing="false"
			 scrollbar-x="false" scrollbar-y="false" direction="xy">   
				<img ng-src="{{card.image}}">
			</ion-scroll>	
		</td-card>
	</td-cards>
	<button class="button button-dark icon ion-refresh hot" on-tap="refresh('hot')"></button>
	<ion-footer-bar class="bar-clear">
		<div class="button-bar">
			<div class="button button-clear button-icon ion-close bottom-button" on-release="pressNext()"></div>
			<div class="button button-clear button-icon ion-android-share-alt bottom-button" on-tap="pressShare()"></div>
			<div class="button button-clear button-icon ion-checkmark bottom-button" on-release="pressFav()"></div>
		</div>
	</ion-footer-bar>
	<ion-pane class="imageInfo">
	  <div class="item" ng-repeat="info in imageInfo" ng-bind-html="info.value">
	  </div>
	</ion-pane>	
</ion-content>-->