<ion-view ng-controller="favList">
	<ion-content class="favContent">
		<ion-list class="favList" can-swipe="false">
			<ion-item class="favItem item-thumbnail-left" collection-repeat="fav in favs"
			item-height="99"
			item-width="'100%'">
				<img ng-src="{{fav.thumb}}" ng-click="viewFavourite(fav, $index)">
				<div class="favTitle"><span>{{fav.title}}</span></div>
				<!--<h2>X FAVS</h2>-->
				<div class="button-bar">
					<div class="button icon-left ion-android-share-alt button-clear" on-tap="pressShare($index)"><span class="shareText">Share</span></div>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>	