<ion-view>
	<div class="button button-clear button-icon ion-ios-information" on-tap="toggleInfo()"></div>
	<ion-content class="favView">
		<div>
			<ion-scroll zooming="true"  delegate-handle="zoom-pane" class="cardImage zoom-pane" min-zoom="1" has-bouncing="false"
			 scrollbar-x="false" scrollbar-y="false" direction="xy" on-double-tap="toggleZoom($index)" >   
				<img class="favImage" ng-src="{{activeFav.image}}">
			</ion-scroll>					
		</div>
	</ion-content>

	<ion-footer-bar class="bar-clear">
		<div class="button-bar">
			<div class="button button-clear button-icon ion-android-share-alt bottom-button solo" on-tap="pressShare()"></div>
		</div>
	</ion-footer-bar>

	<ion-pane class="imageInfo">
	  <div class="item">{{imageInfo.title}}</div>
	  <div class="item">{{imageInfo.description}}</div>
	  <div class="item"><a class='imgSource' ng-href="{{imageInfo.link}}">{{imageInfo.link}}</a></div>
	</ion-pane>	

</ion-view>