
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="css/flipix.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <!--<script src="lib/ionic/js/ionic.bundle.js"></script>-->
	<script src="https://code.ionicframework.com/1.0.0-rc.3/js/ionic.bundle.js">
</script>
	<!--<script src="http://code.ionicframework.com/nightly/js/ionic.bundle.js"></script>-->
    <!-- cordova script (this will be a 404 during development) -->
    <script src="js/ng-cordova.js">
</script>
    <script src="cordova.js">
</script>
    <!-- your app's js -->
	<script src="js/controllers.js">
</script>
	<script src="js/factories.js">
</script>
    <script src="js/app.js">
</script>
<script src="js/prefixfree.min.js">
</script>
    <script src="lib/ionic-ion-tinder-cards/ionic.tdcards.js">
</script>
    <script src="lib/collide/collide.js">
</script>
    
  </head>
  <body ng-app="PIXQ" ng-controller="Main" class="platform-android platform-cordova platform-webview">

	<ion-side-menus>
		<!-- Center content -->
		<ion-side-menu-content>
			<div class="tabs-striped tabs-top tabs-background-dark tabs-color-light">
				<ion-nav-view>
					<ion-tabs class="tabs-top">
						<ion-tab title="New" href="/new"></ion-tab>
						<ion-tab title="Hot" href="/hot"></ion-tab>
						<ion-tab title="Favs" href="/favourites">

						</ion-tab>
						<ion-tab icon="ion-android-more-vertical" class="options" ng-click="toggleOptions()">
						</ion-tab>
						<!--<a class="button button-icon icon ion-android-more-vertical" side="right"></a>		-->
					</ion-tabs>
				</ion-nav-view>
			</div>		
		</ion-side-menu-content>


		<!-- Right menu -->
		<ion-side-menu side="right">
			<ion-header-bar class="bar-dark"></ion-header-bar>
			<ion-list class="settingsList">
				<ion-item ng-repeat="option in options" ng-click="{{::option.click}}()">
					<span>{{::option.title}}</span>
				</ion-item>
			</ion-list>		
		</ion-side-menu>
	</ion-side-menus>	


  </body>
</html>
