ion-conent{
	background-color:#111111;
}

a.tab-item.options {
	max-width: 50px!important;
}

.ion-ios-information{
	position: absolute;
	top: 54px;
	right: 7px;
	z-index: 9999;
	font-size: 2em;
}

td-cards{
	position: absolute;
	background: #111111;
	width: 100%;
	top: 50px;
	bottom: 0px;
	overflow:hidden;
}

td-card, .td-card {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;

}

td-card:nth-child(odd), .td-card:nth-child(odd){
	background: #111111 url(../img/place-holder-01.png) center;
	background-repeat:no-repeat;
	background-size: 20%;
}

td-card:nth-child(even), .td-card:nth-child(even){
	background: #111111 url(../img/place-holder-02.png) center;
	background-repeat:no-repeat;
	background-size: 20%;
}



.cardImage{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
}

.cardImage .scroll{
	/*background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;*/
	height: 100%;
}


td-card img, .favImage{
	
	max-width: 100%;
	max-height: 100%;
	position: relative;
	top: 50%;
	transform: translate3d(0, -50%, 0);
	display: block;
	margin: auto;
}


.ion-refresh{
	top: calc(50% - 50px);
	left: calc(50% - 50px);
	display: block;
	height: 100px;
	width: 100px;
	margin: auto;
	font-size: 40px;
	border-radius: 50%;
	background-color: rgba(38, 50, 56, 0.49)!important;	
	/* display:none; */
	position: absolute;
}

ion-footer-bar.bar-footer{
	height: 21.3vw;
	max-height: 100px;
}

ion-footer-bar.bar-footer .button-bar
{
	justify-content: space-between;
	height:100%;
	padding: 0px 5%;
}

div.bottom-button
{
	background-color: rgba(38, 50, 56, 0.49)!important;
}

div.bottom-button.button
{
	border-radius: 50%!important;
	max-height: none;
	/*max-height: 21vw;*/
	max-width:calc(21.3vw - 10px);
	height: 100%;
	/* padding: 3%; */
	/*margin: 0 7vw;
	margin: 0 auto;*/
}

ion-list.favList.disable-user-behavior, ion-side-menu ion-list {
/* position: absolute; */
position: relative;
top: 48px;
}

ion-pane.imageInfo{
	position:absolute;
	height:auto;
	max-height:0px;
	top:initial;
	bottom:0px;
	right:0px;
	left:0px;
	z-index:9999;
	transition:max-height 0.5s;
}

ion-pane.imageInfo.show{
	max-height:calc(100vh - 100px);
}

ion-pane.imageInfo .item{
	white-space: pre-wrap;
	padding:16px 16px;
	border-top:0;
	border-bottom:solid 1px rgba(242, 242, 242, 0.3);
	max-height: 300px;
	overflow: scroll;	
}

.settingsList .item{
	padding:0px;
	border-top:0;
	max-height: 300px;
}

.item a{
	display:block;
}


.favContent{
    top: 48px;
	
}

.favList, .settingsList{
	position: relative;
}


ion-list.favList.disable-user-behavior {
	top: 0px;
}


.settingsList{
 	top:48px;
 }

 .favItem{
 	padding-top:0;
 	left: 0;
 	right: 0;
 	width: 100%!important;
 	position: absolute;
}

.favList .list{
	width:100%;
}

.favTitle, .settingsList span
{
	color:#B0BEC5;
	margin: 2px 10px 0px 15px;
	line-height:48px;
	overflow:hidden;
	text-overflow: ellipsis;
	width:calc(100% - 30px);
}

.favList span.shareText{
	display:inline-block;
	line-height:44px
}

.favList h2
{
	color:#B0BEC5;
	font-weight:bold;
	padding:2px 0 0px 25px;
	font-size:1.2em;
	line-height: 2em;
}

.favList .button-bar
{
	position: relative;
  bottom: 0px;
  border-top: solid 1px rgba(242, 242, 242, 0.3);
  margin-top: 0px;
  left: -7px;
  width: calc(100% + 7px);
}

.favList .button-bar .button{
	/* text-align: right; */
	background-color:#37474F;
}

.favList .button-bar .button:before{
	float: none;
	margin-right: 10px;
}

ion-content.favView{
	background:#111111;
	top:48px;
	bottom:0;
}

.favView div{
	height:100%;
}

.button-bar .solo{
	  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

/*.favImage{
	width: 100%;
	height: auto;
	position:relative;
	display:block;
	top: 50%;
   	transform: translate3d(0, -50%, 0);
}*/

.popup {
    background-color: #263238!important;
    color: rgba(255,255,255,0.4)!important;
    border-radius: 4px!important;
    padding: 10px!important;
}
.popup-head{
	border-bottom:solid 1px rgba(255,255,255,0.1);
}

.popup h3{
	color: rgba(255,255,255,0.7)!important;
  font-size: 1.35em;	
}

.popup .button{
	background-color:#F50057;
	border:solid 1px rgba(255,255,255,0.1);
}

.popup .button.activated{
	background-color:rgba(245, 0, 87, 0.8);
	border:solid 1px rgba(255,255,255,0.1);

}

.about, .about .bar{
	background:#263238;
	color: rgba(255,255,255,0.7)!important;
}
.about .bar{
	border-bottom:solid 1px rgba(255,255,255,0.1);
}

.about h1, .about h2,.about h3{
	color: rgba(255,255,255,0.7)!important;
}

.about .ionic-scroll{
	padding:20px;
}
.about p{
  margin: 0 10px 10px;
}

.about ul{
  list-style: initial;
}

.about li{
	  margin: 10px 30px;
}